body
{   
    color:blue;
    font-family: Verdana;
    font-weight: bold;
    size: 5px;
   }

#contenido-pr{
	margin: 0;
	padding: 10px;
    border-color: green;


}

#contenido-pr img{
    margin: 0;
    padding: 10px, 10px;
	width: 200px;
	height: auto;
}

footer{
	text-align: center;
	background: #777;
	color:white;
	padding: 0.5em;
}