body
{   
    color:blueviolet;
    font-family: Verdana;
   }

#contenido-pr{
	margin: 0;
	padding: 10px;

    border-color: 10px;

}

#contenido-pr img{
    margin: 0;
    padding: 10px;
	width: 400px;
	height: auto;
}