body
{   
    color:blue;
    font-family: Verdana;
    font-weight: bold;
    size: 5px;
   }

#contenido-pr{
	margin: 0;
	padding: 10px;
    border-color: green;


}

#contenido-pr img{
    margin: 0;
    padding: 10px;
	width: 400px;
	height: auto;
}